# Primer objeto
## Objetos en Python


1.   Objetos
2.   Listas
3.   Conjuntos

En Python se pueden realizar operaciones sobre objetos. Además, es útil para resolver un sistema de ecuaciones lineales.

$$
f(x,y)=\begin{cases}
x+2y &= 3 \\
2x+4y &= 6
\end{cases}
$$

In [1]:
print("Hola Mundo!")

Hola Mundo!

## Primeros objetos


1.   Números enteros
2.   Números decimales o flotantes
3.   Variables

In [33]:
# Crear variables
x = 7
y = 3

print(x/y)
print(x-y)
print(x*y)
print(x+y)
print(x**y)
print(x//y)
print(x%y)

print(type(x/y))
print(type(x-y))
print(type(x*y))
print(type(x+y))
print(type(x**y))
print(type(x//y))
print(type(x%y))

2.3333333333333335
4
21
10
343
2
1
<class 'float'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>